<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-search"></i>
    </div>
    <div class="sidebar-brand-text mx-3" style="text-transform:initial;">Gooly</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="javascript:;" onClick="$(window).attr('location','/'+location.search)">
      <i class="fas fa-pager" style="width: 40px; text-align: center;"></i>
      <span>All</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="javascript:;" onClick="var url = [location.protocol, '//', location.host].join('');$(window).attr('location',url+/images/+location.search)">
      <i class="fas fa-images" style="width: 40px; text-align: center;"></i>
      <span>Images</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->

<script>



</script>